<div class="ui main text container">
    <div class="ui top attached segment">
        <div class="ui huge header">{{title}}</div>
        <form class="ui form" action="{{action}}" method="post">
            <div class="field">
                <label>User Name</label>
                <input required type="text" name="username">
            </div>
            <div class="field">
                <label>Password</label>
                <input required type="password" name="password">
            </div>
            <input class="ui violet basic button" type="submit">
        </form>
    </div>
</div>
