<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="ui fixed inverted menu">
    <div class="ui container">
        <div class="header item"><i class="code icon"></i> Blog Site</div>
        <a href="/" class="item">Home</a>
        {{#if currentUser}}
            <a href="/blogs/new" class="item">New Post</a>
            <a class="item right floated" href="/logout">Logout</a>
        {{else}}
            <div class="right menu">
                <a class="item " href="/login">Login</a>
                <a class="item" href="/register">Sing Up</a>
            </div>
        {{/if}}
    </div>
</div>
<div class="ui container">
    {{{body}}}
</div>
</body>
</html>
